.app {
  color: white;
  width: 375px;
  margin: 0 auto;
  max-height: 812px;
  position: relative;
}
.app__title {
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: 0.32px;
}

.app__header {
  height: 151px;
  background-color: #292639;
}
.app__gradient {
  height: 6px;
  background: linear-gradient(to bottom, #292639, #070417);
}
.app__header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 19.5px 0 17px;
}
.app__header-toggle {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: space-around;
  margin: 22px 61px 12px 72px;
  opacity: 0.699999988079071;
}
.app__divider {
  width: 78px;
  height: 2px;
  background: #292639;
  margin: 16px auto;
}
.app__scroller {
  overflow-y: auto;
  max-height: 600px;
}
.quote-bubble {
  width: 148px;
  height: 84px;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(7, 4, 23, 0.71);
  z-index: 100;
  position: absolute;
  right: 10px;
  top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: first baseline;
}
.quote-bubble span {
  cursor: pointer;
  color: #fff;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  margin-left: 19px;
  line-height: 16px; /* 123.077% */
}
.quote-bubble span:first-child {
  margin-top: 14px;
}

.quote-bubble span:last-child {
  margin-bottom: 18px;
}
.quote__divider {
  width: 121px;
  height: 1px;
  background: #231e3e;
  margin: 9px auto;
}
